
img{
    width: 400px;
    height: 400px;
}
#price{
    font-size: 40px;
    font-weight: 600;
    
}
#rating{
    font-size: 18px;
    font-weight: 500;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/